

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Invoices</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>All Invoices</h1>
    <% invoices.forEach((invoice)=>{ %>

        <div>
            <h3>
                Customer Name: <%= invoice.customerName %> <br>
            </h3>

            <p>
                Total : <%= invoice.total %> 
            </p>

            <p>
                Status : <%= invoice.status %>
            </p>
        </div>

   <% }) %>
</body>
</html>