

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Invoice</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1> Create Invoice</h1>

    <form action="/invoices" method="POST">

        <input type="text" name="customerName" placeholder="Customer Name" required>

        <br><br>

        <input type="text" name="itemName" placeholder="Item Name" required>
        <br><br>

        <input type="number" name="quantity" placeholder="Quantity" required>
        <br><br>

        <input type="number" name="price" placeholder="Price" required>
        <br><br>

        <button type="submit">
            Create Invoice</button>

    </form>
</body>
</html>